$brand-orange: #F6971A;
$brand-blue: #1956c6;
$plast-icon-green:#9AD96C;
$plast-icon-purple:#B863FC;
$plast-icon-orange:#FFBD66;
$brand-grey:#9e9eab;

$text-sm:0.0875rem;
$text-base:1rem;
$text-lg:1.125rem;
$text-xl:1.25rem;
$text-largest:3.25rem;


$rounded-lg:.5rem;
$rounded-md:.375rem;

%btn {
    border-radius: $rounded-lg;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: $brand-blue;
    color: #fff;
    font-weight: 400;
    border: none;
  }
  