@import "config";
.descriptions {
  margin: 5rem 0;
  .firstSubsection {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .textSection {
      flex: 1 1 0%;
      h3 {
        font-size: 2.3rem;
        margin: 1rem 0;
      }
      p {
        color: $brand-grey;
        font-size: 1.1rem;
        max-width: 60ch;
        line-height: 1.5;
      }
    }
    .imageSection {
      width: 100%;

      display: block;
      flex: 1 1 0%;

      .imageDiv {
        border-radius: $rounded-lg;

        overflow: hidden;

        width: 100%;
      }

      .firstCard {
        transform: translateX(7px) translateY(-100px);
      }
      .secondCard {
        transform: translateX(10px) translateY(-100px);
      }
      .thirdCard {
        transform: translateX(0px) translateY(-100px);
      }
      .messageCard {
        display: flex;

        flex-direction: row;

        gap: 0.6rem;
        margin: 1rem 0.5rem;

        width: 90%;

        // transform: translateX(200px) translateY(-50px);

        &:nth-child(odd) {
          flex-direction: row-reverse;
        }

        .avatarContainer {
          display: flex;
          align-items: end;
          background-color: transparent;
          .avatar {
            position: relative;
            width: 40px;
            height: 40px;
            & img {
              border-radius: 9999px;
            }
          }
        }
        // .avatar img{
        //   border-radius: 9999px;

        // }

        .textContainer {
          background-color: #fff;
          width: 80%;
          border-radius: $rounded-lg;
          padding: 0.6rem;
          --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
          --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

          h4 {
            margin: 0.3rem 0;
          }
          p {
            margin: 0.3rem 0;
            color: $brand-grey;
            font-size: 0.9rem;
            line-height: 1.25;
          }
        }
      }
    }
  }
  .secondSubsection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .textSection {
      h3 {
        font-size: 2.3rem;
        margin: 1rem 0;
      }
      p {
        color: $brand-grey;
        font-size: 1rem;
        max-width: 60ch;
        line-height: 1.5;
        font-size: 1.1rem;
      }
      button {
        @extend %btn;
        padding: 16px 30px;
      }
    }
    .imageSection {
      .imageDiv {
        & img {
          border-radius: $rounded-lg;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .descriptions {
  }
}
@media (min-width: 768px) {
  .descriptions {
    .firstSubsection {
      .textSection {
        h3 {
        }
        p {
        }
      }
      .imageSection {
        .imageDiv {
        }
        .firstCard {
          transform: translateX(70%) translateY(-100%);
        }
        .secondCard {
          transform: translateX(90%) translateY(-115%);
        }
        .thirdCard {
          transform: translateX(60%) translateY(-75%);
        }

        .messageCard {
          width: 50%;
        }
      }
    }
    .secondSubsection {
      .textSection {
        h3 {
        }
        p {
        }
      }
      .imageSection {
        .imageDiv {
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .descriptions {
    .firstSubsection {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .textSection {
        display: flex;
        flex-direction: column;

        justify-content: center;
        h3 {
        }
        p {
        }
      }
      .imageSection {
        .imageDiv {
          width: 90%;
        }
        .firstCard {
          transform: translateX(35%) translateY(-100%);
        }
        .secondCard {
          transform: translateX(40%) translateY(-115%);
        }
        .thirdCard {
          transform: translateX(25%) translateY(-75%);
        }
        .messageCard {
          width: 70%;
        }
      }
    }
    .secondSubsection {
      flex-direction: row;

      .textSection {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
        }
        p {
          // margin: .5rem 0;
        }
        button {
          align-self: flex-start;
        }
      }
      .imageSection {
        flex: 1 1 0%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .containerElement {
          
          height: 100%;
          width: 90%;
          position: relative;
          .overlay{
            background-color: rgba(0, 0, 0, 0.35);
            z-index: 2;
            position: absolute;
           
            width: 100%;
            height: 100%;
          }
          .circle {
            background-color: $plast-icon-green;
            width: 30px;
            height: 30px;
            padding: 3rem;
            border-radius: 999px;
            position: absolute;
            top: -47px;
            left: -47px;
            
          }
          .imageDiv {
            
          }
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  .descriptions {
    .firstSubsection {
      .textSection {
        h3 {
        }
        p {
        }
      }
      .imageSection {
        .imageDiv {
          width: 70%;
        }
        .firstCard {
          transform: translateX(40%) translateY(-100%);
        }
        .secondCard {
          transform: translateX(48%) translateY(-115%);
        }
        .thirdCard {
          transform: translateX(32%) translateY(-75%);
        }
        .messageCard {
          width: 70%;
          .textContainer {
            padding: 1rem;
          }
        }
      }
    }
    .secondSubsection {
      .textSection {
        h3 {
        }
        p {
        }
      }
      .imageSection {
        .imageDiv {
        }
      }
    }
  }
}
@media (min-width: 1536px) {
}
