$brand-orange: #F6971A;
$brand-blue: #1956c6;
$plast-icon-green:#9AD96C;
$plast-icon-purple:#B863FC;
$plast-icon-orange:#FFBD66;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
