@import "config";
.header {
    .blob {
        position: absolute;
        top: -200px;
        left: -200px;
        z-index: -1;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .links {
            gap: 1.25rem;
            a {
                color: $brand-grey;
                font-size: $text-xl;
                transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                transition-delay: 60ms;
                transition-duration: 400ms;
                &:hover{
                    color: $brand-blue;
                }
            }
        }
        .btn {
            @extend %btn;
            padding: 16px 26px;
            font-size: $text-lg;
        }

        .links,
        .btn {
            display: none;
        }
    }
}

@media (min-width: 640px) {
    .header {
    }
}
@media (min-width: 768px) {
    .header {
        .nav {
            .links {
                display: flex;
            }
            .btn {
                display: block;
            }
        }
    }
}
@media (min-width: 1024px) {
    .header {
    }
}
@media (min-width: 1280px) {
    .header {
    }
}
@media (min-width: 1536px) {
    .header {
    }
}
